RK_UBOOT_CFG="rk3576"
RK_UBOOT_SPL=y
RK_KERNEL_DTS_NAME="rk3576s-focalcrest-az08"
RK_USE_FIT_IMG=y
RK_WIFIBT_CHIP="AP6256"
RK_BUILDROOT_BASE_CFG="rk3576s_focalcrest_az08"
RK_RECOVERY=n
RK_PARAMETER="parameter-az08.txt"
RK_EXTRA_PARTITION_NUM=0
