RK_KERNEL_DTS_NAME="rk3588-mixtile-blade3"
RK_ROOTFS_SYSTEM_DEBIAN=y
RK_WIFIBT_BT_DAEMON_DISABLED=y
RK_DEBIAN_USER="mixtile"
RK_DEBIAN_PASSWORD="mixtile"
RK_USE_FIT_IMG=y
RK_KERNEL_CFG_FRAGMENTS="mixtile_blade3.config"
RK_RECOVERY=n
RK_PARAMETER="parameter-mixtile-rk3588.txt"
RK_EXTRA_PARTITION_NUM=0
