RK_KERNEL_DTS_NAME="rk3288-focalcrest-az05"
RK_EXTRA_PARTITION_NUM=0
RK_WIFIBT_CHIP="AP6256"
RK_BUILDROOT_BASE_CFG="rk3288_focalcrest_az05"
RK_KERNEL_CFG_FRAGMENTS="rk3288_focalcrest_az05.config"
RK_RECOVERY=n
RK_PARAMETER="parameter-az05.txt"
